<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administração Resenha Cultural</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilo-admin.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_MenuAdmin")
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", false)
</body>
</html>
